.feilmld {
    color: red;
}

input[type="text"], input[type="password"]{
border-color: green;
border-radius: 4px;
    border-width: 2px;
    padding: 4px;
}

input[type="text"]:invalid, input[type="password"]:invalid {
border-color: red;
}

input[type="password"].mediumPassword {
     border-color: yellow;
}

button {
    grid-column: 1/3;
    padding: 5px 0;
    font-size: large;
}


